.header {
    height: 85vh;
    background-image: linear-gradient(to top left, #2A5298, #008DC8, #00C6D5, #6FFACB);
    background-size: cover;
    background-position: bottom;
    position: relative;
    box-shadow: 0 .7rem 2.5rem black;
    border-radius: 2px;
    
    @include respond(phone) {
        height: 65vh;
    }
    &__text-box {
        margin-top: 2rem;
        box-sizing: border-box;
        text-align: center;
    }

    &__image-box {
        box-sizing: border-box; 
        margin: 0 auto;
        text-align: center;
        
        &-image{
            margin-top: 2rem;
            display: inline-block;
            width: 50rem;
            box-shadow: 0 .7rem 3rem $color-dark-blue;

            @include respond(phone) {
                width: 30rem;
            }
        }
    }
}