$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertial-small: 6rem;
$gutter-horizontal: 6rem;

$color-dark-blue: #2A5298;
$color-light-blue: #008DC8;
$color-teal: #00C6D5;
$color-pistacio: #6FFACB;
